@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Zen+Antique&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","sans-serif";
    color: white;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("./images/main.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::after {
    content: "";
    position: absolute;
    background: black;
    width: 100%;
    height: 500vh;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: transform(-50%);
    z-index: 1;
    font-size: 1.2rem;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}